# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/

# Keys — для тестового стенда включены
# keys/*.sk
# keys/*.pk
# keys/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Experiments
experiments/reports/*.json
experiments/reports/*.csv
